.a{
    height: 100vh;
    display: flex;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   height: 100%;
    position: relative;
}

.a-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
    border: 5px solid #59b256;
}
.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    border: 5px solid #59b256;

}


.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-title{
    margin: 20px;
    width: 85%;
}

hr{
    width: 120px;
    height: 3px;
    background-color: #59b256;
    border: none;
    border-radius: 19%;
}

.a-sub{
    font-weight: 600;
    margin: 10px;
}


.a-desc-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.304);
    width: 90%;
    height: 10rem;
    border-radius: 10px;
}


@media screen and (max-width: 480px){
    .a{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 70vh;
        /* margin-top: 50px; */
    }

    .a-left{
        /* width: 100%; */
        display: none;
    }

    .a-card{
        /* height: 30vh; */
        
    }

    .a-card.bg{
        display: none;
    }

    .a-right{
     padding: 20px;
    }
    .a-title{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a-desc-wrapper{
        height: 20rem;
    }


}