.p{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.p-browser{
    height: 20px;
    background-color: rgb(243, 242, 242);
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
}